<a href="https://colab.research.google.com/github/jjeongmin98/PythonStudy/blob/master/for%2Cwhile%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tmp=0
a=100
b=200
print("a: {0}, b: {1}".format(a,b))
tmp = a
a = b
b = tmp
print("a: {0}, b: {1}".format(a,b))

a: 100, b: 200
a: 200, b: 100

In [ ]:
a = int(input("정수 입력 :"))
b = int(input("정수 입력 :"))
print(a+b)

정수 입력 :3
정수 입력 :4
7

In [ ]:
usr = int(input("인원"))
print("치킨 : {0}, 맥주 : {1}, 소주 : {2}: ".format(usr*1,usr*2,usr*3))

인원3
치킨 : 3, 맥주 : 6, 소주 : 9:

In [ ]:
print(8000//1500)

5

In [ ]:
!git clone https://jjeongmin98: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@github.com/jjeongmin98/PythonStudy.git

Cloning into 'PythonStudy'...
remote: Enumerating objects: 2646, done.
remote: Counting objects: 100% (2646/2646), done.
remote: Compressing objects: 100% (2156/2156), done.
remote: Total 2646 (delta 465), reused 2617 (delta 449), pack-reused 0
Receiving objects: 100% (2646/2646), 15.12 MiB | 19.00 MiB/s, done.
Resolving deltas: 100% (465/465), done.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

NameError: ignored

In [ ]:
a=[9,10,7,19,1,2,20,21,7,8]
b=sorted(a)
print(b)
print(a)

[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]
[9, 10, 7, 19, 1, 2, 20, 21, 7, 8]

In [ ]:
a=[9,10,7,19,1,2,20,21,7,8]
a.sort()
a

[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]

In [ ]:
a =() #튜플
a ={} #리스트
a = [] #인덱스
a=()
b=(1,)
c=(1,2,3)
d =('Korea','Canada',1,(2,3))
print(d)

('Korea', 'Canada', 1, (2, 3))

In [ ]:
a=[1,2,3]
b=(1,2,3)
print(type(a))
print(type(b))

a[0]=100
print(a)

<class 'list'>
<class 'tuple'>
[100, 2, 3]

Tuple unpacking
튜플의 값을 차례대로 변수에 대입

In [ ]:
a=(100,200) #패킹
a,b,c,d=100,200,300,400 #언패킹

In [ ]:
a=5
b=4
a,b=b,a
print(a,b)

100 200

딕셔너리
key와 value을 값는 데이터구조
key는 내부적으로 hash값으로 저장
순서를 따지지 않음, 즉 인덱스가 없음
dictionary 생성방법
{}안에 값을 담아서 생성
key:value 쌍으로 항목 추가

hash란 key를 검색하게 될경우 value 값을 찾을수 있도록 해주는 것.

In [ ]:
a=[0,1,2,3,4,19,100,299,300]
b={'korea':[1,2,3,4],'Canada':'ottawa','USA':'Washington D.c'}
b['korea']

[1, 2, 3, 4]

In [ ]:
a ={'korea':'seoul','Canada':'ottawa','USA':'Washington D.c'}
a['Japan']='kyoto'
a['China']='Beijing'
a['korea']='jeju'

In [ ]:
a=[]
b=[]
a.append(10)
a.append(20)
a.append(30)
a.append(40)
a.append(50)
print(a)
b.append(a.pop(2))
b.append(a.pop(2))
b.append(a.pop(2))
print(b)

[10, 20, 30, 40, 50]
[30, 40, 50]

In [ ]:
ex={1:"Banana", 2:"Orange", 3:"Tomato"}
ex[4]="Fineapple"
del ex[2]
ex[3]="토마토"
list(ex.keys())
list(ex.values())
ex.clear()

In [ ]:
a={1,34,5,2,2,45,1}
b=set(a)

In [ ]:
a={1,2,3}
b={2,3,4}
print(a.union(b)) # 합집합
print(a.intersection(b)) # 교집합
print(a.difference(b)) #차집합
print(a.issubset(b)) #

{1, 2, 3, 4}
{2, 3}
{1}
False

In [ ]:
#조건문
if 6>=5:
  print("6 is bigger then 5")

6 is bigger then 5

In [ ]:
inum = int(input("숫자를 입력하시오:"))
if int(inum%2) == 0:
  print(inum%2)
else:
  print(inum+1)

숫자를 입력하시오:6
3.0

In [ ]:
a=17
if a%4 ==0:
  print("a i deiv by 4")
elif a%4 ==1:
  print('a % 4 is 1')
elif a%4 ==2:
  print('a % 4 is 2')
else:
  print('a%4 is 3')

In [ ]:
a=10
b=9
if a ==10:
  if b!=8:
    print("hello")
  else:
    print("No")

hello

In [ ]:
inum = int(input(""))
if inum <= 100 and inum>= 90:
  print("A")
elif inum>=80 and inum<= 89:
  print("B")
elif inum>=70 and inum<= 79:
  print("C")
else:
  print("See you next year")

78
C

In [ ]:
inum=int(input(""))
if inum>=10000:
  islaenume = inum*0.05
  isellenum = inum-(10000*0.05)
print("{0} {1} {2}".format(inum, islaenume, isellenum))

50000
50000 2500.0 49500.0

In [ ]:
a=[1,10,9,24,25,26]
i=0
while len(a):
  if a[i]%2==0:
    print(a[i]/2)
  i+=1

5.0
12.0
13.0

IndexError: ignored

In [ ]:
i=1
sum=1
while i<11:
  sum=sum*i
  print(sum)
  i+=1

1
2
6
24
120
720
5040
40320
362880
3628800

In [ ]:
inum=0
isum=0
while inum<100:
  inum+=1
  if inum %3==0:
    isum+=inum
print(isum)

1683

In [ ]:
a = [1,2,4,3,5]
for i,val in enumerate(a):
  print(i,val)

0 1
1 2
2 4
3 3
4 5

In [ ]:
a=[100,90,80,70,60]
for num in a:
  if num >=60 and num<=70:
    continue
  print(num)

100
90
80

In [ ]:
for i in range(2,10):
  for k in range(1,10):
    print("{0} * {1} = {2}".format(i,k,i*k))
  print("------------------------")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
------------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
------------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
------------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
------------------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
------------------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
------------------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
------------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
------------------------

In [ ]:
for i in range(1,101):
  if i%2==0 or i%11==0:
    print(i,end=" ")

2 4 6 8 10 11 12 14 16 18 20 22 24 26 28 30 32 33 34 36 38 40 42 44 46 48 50 52 54 55 56 58 60 62 64 66 68 70 72 74 76 77 78 80 82 84 86 88 90 92 94 96 98 99 100

In [ ]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
max=a[0]
min=a[0]
for i in range(0,len(a)-1):
  #max
  if a[i-1] > max:
    max=a[i-1]

  #min
  if a[i-1] < min:
    min=a[i-1]
print("max = {0}, min= {1}".format(max,min))

max = 99, min= 1

In [ ]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
a.sort()
print("min={0} max ={1}".format(a[0],a[len(a)-1]))

min=1 max =99

In [ ]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
sum=0
for i in a:
  sum +=i
print("Avg= {0}".format(int(sum/len(a))))

Avg= 37

In [ ]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
i=0
sum=0
while i<len(a):
  sum +=a[i]
  i+=1
print("Avg= {0}".format(int(sum/len(a))))

Avg= 37

TypeError: ignored